---
import '@/styles/globals.css';

import '@fontsource/geist-mono/400.css';
import '@fontsource/geist-mono/500.css';
import '@fontsource/geist-mono/600.css';

import '@fontsource/geist-sans/300.css';
import '@fontsource/geist-sans/400.css';
import '@fontsource/geist-sans/500.css';
import '@fontsource/geist-sans/600.css';

import PostHog from '../components/posthog.astro';
import { cn } from '../components/utils';

type Props = {
  title: string;
  canonical?: string;
  className?: string;
};

const { title, canonical, className } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    {canonical && <link rel="canonical" href={canonical} />}
    <title>{title}</title>
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="Serverize" />
    <link rel="manifest" href="/site.webmanifest" />
    <meta
      name="viewport"
      content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0"
    />
    <PostHog />
    <!-- <ViewTransitions /> -->
    <link rel="sitemap" href="/sitemap-index.xml" />
  </head>
  <body class={cn(className, 'flex flex-col h-full antialiased')} vaul-drawer-wrapper="">
    <slot />
  </body>
</html>
