@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;
    --radius: 0.75rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
  .dark {
    --background: 0, 0%, 6%;
    --foreground: 0, 0%, 91%;
    --muted: 117 17% 11%;
    --muted-foreground: 117 3% 72%;
    --popover: 117 36% 1%;
    --popover-foreground: 117 16% 99%;
    --card: 117 36% 2%;
    --card-foreground: 0 0% 100%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --primary: 117 38% 38%;
    --primary-foreground: 0 0% 100%;
    --secondary: 117 5% 13%;
    --secondary-foreground: 0, 0%, 64%;
    --accent: 117 12% 19%;
    --accent-foreground: 117 12% 79%;
    --destructive: 4 84% 53%;
    --destructive-foreground: 0 0% 100%;
    --ring: 117 38% 38%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-sans antialiased;
  }
}

/* body {
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background: white;
  margin: 0;
  color: #33333d;
  overflow-y: scroll;
  overflow-x: hidden;
} */

h1,
h2,
h3,
h4 {
  @apply dark:!text-primary-foreground;
  a {
    color: unset;
    text-decoration: none;
  }
}
p,
li {
  @apply text-secondary-foreground;
}

section {
  min-height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

section:not(:last-child) {
  border-bottom: 1px solid #eee;
}

.content {
  max-width: 80ch;
}

pre {
  @apply p-4;
}

.expressive-code {
  @apply mb-4;
}

.something {
  --purple-background: linear-gradient(
    180deg,
    rgba(224, 204, 250, 0.33) 0%,
    rgba(224, 204, 250, 0.0825) 100%
  );
  --purple-border: 1px solid rgba(113, 24, 226, 1);
  --gray-background: linear-gradient(
    180deg,
    rgba(191, 193, 201, 0.33) 0%,
    rgba(191, 193, 201, 0.0825) 100%
  );
  --gray-border: 1px solid rgba(191, 193, 201, 1);
  --red-background: linear-gradient(
    180deg,
    rgba(249, 196, 215, 0.33) 0%,
    rgba(249, 196, 215, 0.0825) 100%
  );
  --red-border: 1px solid rgba(179, 62, 102, 1);
  --green-background: linear-gradient(
    180deg,
    rgba(213, 249, 196, 0.33) 0%,
    rgba(213, 249, 196, 0.0825) 100%
  );
  --green-border: 1px solid rgba(61, 125, 31, 1);
  --yellow-background: linear-gradient(
    180deg,
    rgba(255, 236, 179, 0.33) 0%,
    rgba(255, 236, 179, 0.0825) 100%
  );
  --yellow-border: 1px solid rgba(181, 138, 45, 1);
  --blue-background: linear-gradient(
    180deg,
    rgba(189, 195, 255, 0.33) 0%,
    rgba(189, 195, 255, 0.0825) 100%
  );
  --blue-border: 1px solid rgba(54, 69, 217, 1);
  --background: var(--gray-background);
  --border: var(--gray-border);

  /* @media (prefers-color-scheme: dark) {
    --background: var(--purple-background);
    --border: var(--purple-border);
  } */
  background: var(--background);
  border: var(--border);
}

details > summary {
  @apply transition cursor-pointer text-[#154219] text-sm;
}

details[open] > summary {
  @apply mb-2;
}
details[open]:hover > summary {
  color: #e80e6e;
}

details {
  @apply py-1 px-2 rounded transition duration-150;
}

.no-visible-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
  -webkit-overflow-scrolling: touch;
}

.no-visible-scrollbar::-webkit-scrollbar {
  display: none;
}
