---
import '@/styles/globals.css';
import '@fontsource/crimson-text';
import '@fontsource/fira-code';
import '@fontsource/roboto';
import HeroVert from '../layouts/Hero/HeroVert';
import Main from '../layouts/main.astro';
import { Content as HowItWorksContent } from '../lib/sections/how-it-works.md';
import Integrations from '../lib/sections/integrations.astro';
import { Content as MotivationContent } from '../lib/sections/motivation.md';
import { Content as OptimisationContent } from '../lib/sections/optimisation.md';
import { Content as StaticWebsiteContent } from '../lib/sections/static-website.md';
import { Content as TheConversationContent } from '../lib/sections/the-conversation.md';
import Cta from '../components/Cta';
---

<Main title={'January - Serverize'}>
  <HeroVert client:load />
  <div class="prose min-w-full">
    <div class="px-2 md:px-20">
      <Integrations />
    </div>
    <section class="px-6 py-20 md:px-24">
      <div class="content">
        <MotivationContent />
      </div>
    </section>
    <section class="px-6 py-20 md:px-24">
      <div class="content">
        <HowItWorksContent />
      </div>
    </section>
    <section class="px-6 py-20 md:px-24">
      <div class="content">
        <OptimisationContent />
      </div>
    </section>

    <section class="px-6 py-20 md:px-24">
      <div class="content">
        <TheConversationContent />
      </div>
    </section>
    <section class="px-6 py-20 md:px-24">
      <div class="content">
        <StaticWebsiteContent />
      </div>
    </section>
    <!-- <section class="md:px-24 px-6 py-20">
        <div class="content">
          <FaqContent />
        </div>
      </section> -->
    <section>
      <Cta className="container mx-auto" />
    </section>
  </div>
</Main>

<!-- Stop waiting for deployments. -->
