---
import '@/styles/globals.css';

import Cta from '../components/Cta';
import Footer from '../components/Footer';
import HeroVert from '../layouts/Hero/HeroVert';
import Main from '../layouts/main.astro';
import Login from '../lib/login/Login';
import { Content as HowItWorksContent } from '../lib/sections/how-it-works.md';
import Integrations from '../lib/sections/integrations.astro';
import { Content as MotivationContent } from '../lib/sections/motivation.md';
import { Content as StaticWebsiteContent } from '../lib/sections/static-website.md';
---

<Main title={'January - Serverize'}>
  <HeroVert client:load />
  <!-- <Login client:load client:only /> -->
  <div class="prose min-w-full">
    <div class="mx-auto max-w-6xl xl:px-0 px-6">
      <Integrations />
    </div>

    <section class="border-b px-6 py-20 md:px-24">
      <div class="content">
        <MotivationContent />
      </div>
    </section>
    <section class="border-b px-6 py-20 md:px-24">
      <div class="content">
        <HowItWorksContent />
      </div>
    </section>
    <!-- <section class="px-6 py-20 md:px-24">
      <div class="content">
        <OptimisationContent />
      </div>
    </section> -->

    <!-- <section class="px-6 py-20 md:px-24">
      <div class="content">
        <TheConversationContent />
      </div>
    </section> -->
    <section class="border-b px-6 py-20 md:px-24">
      <div class="content">
        <StaticWebsiteContent />
      </div>
    </section>
    <!-- <section class="md:px-24 px-6 py-20">
        <div class="content">
          <FaqContent />
        </div>
      </section> -->
    <div class="mx-auto max-w-6xl">
      <Cta className="px-8" hideBottom={true} />
    </div>
    <div class="mx-auto max-w-6xl">
      <Footer className="not-prose px-8" />
    </div>
  </div>
</Main>

<!-- Stop waiting for deployments. -->
