---
import '@/styles/globals.css';
import type { DocsTree } from '../../types/docs';

import { basename, extname } from 'path';
import type { MarkdownInstance } from 'astro';
import TreeNode from '../../components/TreeNode.astro';
import { Nav } from '../../components/background';
import DocsLayout from '../../layouts/DocsLayout.astro';
import Main from '../../layouts/main.astro';

const posts = Object.values(
  import.meta.glob('./**/*.{md,mdx}', { eager: true }),
) as MarkdownInstance<{ title: string; subtitle: string }>[];

function createObject(
  obj: Record<string, any>,
  keys: string[],
  value: any = null,
): Record<string, any> {
  let current = obj;

  for (let i = 0; i < keys.length; i++) {
    const key = keys[i];

    if (i === keys.length - 1) {
      // Last key in the chain
      if (!current[key]) {
        current[key] = { ...value, children: {} };
      } else {
        current[key] = {
          ...current[key],
          ...value,
        };
      }
    } else {
      // Intermediate keys
      current[key] = current[key] || { children: {} };
      current = current[key].children;
    }
  }

  return obj;
}

const groups: DocsTree = {};
for (const post of posts) {
  const dot = post
    .url!.split('/')
    .slice(2)
    .map((it) => it.replaceAll(/-/g, ' ').replace(/^\d./, ''));
  createObject(groups, dot, extractProps(post));
}

function extractProps(
  post: MarkdownInstance<{ title: string; subtitle: string }>,
) {
  return {
    name: basename(post.file).replace(extname(post.file), ''),
    title: post.frontmatter.title,
    subtitle: post.frontmatter.subtitle,
    href: post.url!.replaceAll(/\d\./g, ''),
    headings: post.getHeadings().map((it) => ({
      ...it,
      slug: `#${it.slug}`,
    })),
  };
}
---

<DocsLayout frontmatter={{ title: 'Docs' }}>
  Entrypoint
</DocsLayout>

<!-- <Main title={'January - Docs'} className="antialiased">
  <Nav client:load />
  <div class="w-full border-b">
    <div class="mx-auto w-full max-w-screen-xl">
      <h1 class="mx-8 py-20 text-5xl font-bold md:mx-16">Docs</h1>
    </div>
  </div>

  <nav class="mx-auto w-full max-w-[1460px] px-6 py-4">
    <TreeNode tree={groups} />
  </nav>
</Main> -->
